<nav class="navbar navbar-dark bg-dark">
  <a id="app-title"> <strong> {{ title }} </strong> </a>
  <a [routerLink]="['/home']" class="nav-link">
    <i class="fas fa-feather"></i>
    Home
  </a>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="icons">
    <a href="https://www.instagram.com/kmery_bonfeu/?hl=en">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://github.com/KMery">
      <i class="fab fa-github"></i>
    </a>
  </div>
  <p>By <strong>KMery</strong> 2020</p>
</footer>